<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Comprar</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/webjars/fontawesome/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link rel="stylesheet" th:href="@{/css/forms.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
	<div th:replace="layout/navbar.html :: navbar"></div>
	<div class="container">
		<h3>FORMULARIO DE COMPRA</h3>
		
		<form action="/compra/guardar" th:object="${compra}" method="post">
			<div class="row">
				<div class="col-md-7">
				<label for="codigo">Producto</label>
					<select name="codigo" >
						<option th:each=" producto: ${productos}"
							>
							<spam th:text="${producto.nombre}"></spam>-
						</option>
					</select><br />
				</div>
				<div class="col-md-5">
				<label for="cliente">Cliente</label>
					<select name="cliente" th:field="*{cliente.nroDocumento}">
						<option th:each=" cliente: ${clientes}"
							th:value="${cliente.nroDocumento}">
							<spam th:text="${cliente.nombreApellido}"></spam>-
							<spam th:text="${cliente.nroDocumento}"></spam>
						</option>
					</select><br />
				</div>
			</div>
			<input type="submit" value="enviar">
		</form>
	</div>
	<div th:replace="layout/footer :: footer"></div>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>